.order_background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../img/shopping_bag_small.jpg");
  background-size: cover;
  background-position: 55%;
  background-repeat: no-repeat;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  z-index: 0;
}
.order_background .bg_shadow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.order_background .bg_shadow .size_title_section {
  font-size: 17px;
}
.order_background .bg_shadow h2 {
  text-transform: uppercase;
  color: orange;
}
.order_background .bg_shadow .order_card {
  position: relative;
  margin: 20px 50px;
  width: 87%;
  height: 520px;
  perspective: 800px;
}
.order_background .bg_shadow .order_card .card_front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: linear-gradient(145deg, #f5d5a8, #e6b67a 40%, #c4904e 70%, #8c5e2b 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* lekkie cieniowanie */
  box-shadow: 7px 14px 57px 12px rgb(0, 0, 0);
  overflow: hidden;
  transition: 0.8s;
}
.order_background .bg_shadow .order_card .card_front .card_front_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.order_background .bg_shadow .order_card .card_front .card_front_content span {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  gap: 50px;
}
.order_background .bg_shadow .order_card .card_front .card_front_content h3,
.order_background .bg_shadow .order_card .card_front .card_front_content i,
.order_background .bg_shadow .order_card .card_front .card_front_content p {
  z-index: 1;
}
.order_background .bg_shadow .order_card .card_front .card_front_content h3 {
  font-size: 26px;
}
.order_background .bg_shadow .order_card .card_front .card_front_content i {
  font-size: 35px;
  animation: icon_rocking 3s ease-in-out infinite;
  color: #5e401d;
  transition: 0.3s;
}
.order_background .bg_shadow .order_card .card_front .card_front_content p {
  font-size: 20px;
  font-weight: bold;
}
.order_background .bg_shadow .order_card .photo_shadow {
  background-position: center;
  background-size: cover;
  background-image: url("../img/ai-generated-8261519_1280.png");
  filter: opacity(0.07);
  transition: 0.8s;
}
.order_background .bg_shadow .order_card .card_back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px 10px 0px 10px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  background-image: linear-gradient(145deg, #f5d5a8, #e6b67a 40%, #c4904e 70%, #8c5e2b 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* lekkie cieniowanie */
  box-shadow: 7px 14px 57px 12px rgb(0, 0, 0);
  opacity: 0;
  transition: 0.8s;
}
.order_background .bg_shadow .order_card .card_back .text_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}
.order_background .bg_shadow .order_card .card_back .text_content .top_paragraph {
  text-align: center;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
}
.order_background .bg_shadow .order_card .card_back .content_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px;
}
.order_background .bg_shadow .order_card .card_back .content_row i {
  font-size: 23px;
  margin-right: 5px;
  color: rgb(98, 138, 18);
}
.order_background .bg_shadow .order_card .card_back h3 {
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
}
.order_background .bg_shadow .order_card .card_back .order_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order_background .bg_shadow .order_card .card_back .order_icons i {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  color: #8c5e2b;
}
.order_background .bg_shadow .order_card .card_back .btn_order {
  margin-left: auto;
  margin-right: auto;
  width: 58%;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: #5e401d;
  cursor: pointer;
}
.order_background .bg_shadow .order_card p {
  font-size: 18px;
  padding: 7px;
  color: #5e401d;
}
.order_background .bg_shadow .order_card .turnover {
  transform: rotateY(-180deg);
}
.order_background .bg_shadow .order_card:hover .card_back {
  transform: rotate(0);
  opacity: 1;
}
.order_background .bg_shadow .order_card:hover .card_front {
  transform: rotateY(180deg);
  opacity: 0;
}
.order_background .bg_shadow .order_card:hover .first_img {
  transform: rotateY(180deg);
  opacity: 0;
}

.hollow {
  width: 100%;
  height: 50px;
}

@keyframes icon_rocking {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}/*# sourceMappingURL=OrderPremium.module.css.map */