*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-image: url('../img/BackgroundSmall.jpg');
	background-size: cover;       /* Obrazek wypełnia cały widoczny obszar */
	background-position: 55%;  /* Centrowanie obrazka */
	background-repeat: no-repeat; /* Nie powtarzaj obrazka */
	color: #fff;
	background-color: #333;
	z-index: 0;
  }

 



// HOMEPAGE STYLES
.homepage {
	position: relative;
	height: 100vh;
}

.homepage_body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-image: url('../img/BackgroundDownBig.jpg');
	background-size: cover;       /* Obrazek wypełnia cały widoczny obszar */
	background-position: 55%;  /* Centrowanie obrazka */
	background-repeat: no-repeat; /* Nie powtarzaj obrazka */
	overflow: hidden;
}