*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	// Dodać dominującą font-family później
}

body {
	overflow-x: hidden;
}

// HOMEPAGE STYLES
.homepage {
	// position: relative;
	// width: 100%;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;

}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background-image: url("../img/BackgroundSmall.jpg");
	background-size: cover;
	background-position: 55%; /* Centrowanie obrazka można też zmienić na wartość center*/
	background-repeat: no-repeat; /* Nie powtarzaj obrazka */
	// color: #fff;
	background-color: #333;
	z-index: 0;
}

.main {
	width: 100%;
	min-height: 50vh;
	background-size: cover;
	background-image: url("../img/BackgroundDownBig.jpg");
	background-position: center;
	background-position: 55%; /* Centrowanie obrazka */
	background-repeat: no-repeat; /* Nie powtarzaj obrazka */
	padding-bottom: 60px;
}

// universal class for pages
.pages_bgc {
	position: relative;
	height: 100%;
	background-image: url("../img/shopping_bag_small.jpg");
	background-size: cover;
	background-position: 55%;
	background-repeat: no-repeat;
	font-family: "Comfortaa", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	background-color: #333;
	z-index: 0;

	.bg_shadow {
		position: relative;
		display: flex;
		flex-direction: column;
		// justify-content: start;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

// Parametr dla komponentu InfoBlock - który ma być obrazkiem
.infoBlock_img {
	width: 100%;
	height: 100%;
	min-width: 310px;
	min-height: 250px;
}

// Style dla logo w podstronie
.logoDetails {
	top: 30px;
	left: 0;
	height: 70px;
	margin-left: 53%;
	transform: translateX(-50%);

	.imgSize {
		margin-left: -42px;
		width: 120px;
		height: 120px;
	}

	h1 {
		font-size: 20px;
		padding-left: 10px;
		padding-right: 5px;
	}
}

//prop styles used in HOMEPAGE for ButtonLink component
.button_position {
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%);
}

// Styles for pages component InfoBlock
.infoBlock_width {
	width: 95%;
}


// RWD STYLES:
@media(min-width: 412px){
	.logoDetails {
		height: 90px;

		h1, a {
			padding-left: 8px;
			font-size: 23px;
		}
	}
}

// small
@media (min-width: 576px) {
	.logoDetails {
		h1, a {
			padding: 0px 10px 0px 12px;
		}
	}
	.infoBlock_width {
		width: 90%;
		padding: 30px;
		line-height: 1.2;
	}
	
}

// medium
@media (min-width: 768px) {
	.logoDetails {
		margin-left: 51%;
		
		h1, a {
			padding-left: 8px;
			padding-right: 16px;
		}
	}
}
