@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Comfortaa", sans-serif;
	font-style: normal;
}

body {
	overflow-x: hidden;
}

// HOMEPAGE STYLES
.homepage {
	height: 100%;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background-image: url("../img/BackgroundSmall.jpg");
	background-size: cover;
	background-position: 55%;
	background-repeat: no-repeat;
	background-color: #333;
	z-index: 0;
}

.main {
	width: 100%;
	min-height: 50vh;
	background-size: cover;
	background-image: url("../img/BackgroundDownBig.jpg");
	background-position: center;
	background-position: 55%;
	background-repeat: no-repeat;
	padding-bottom: 60px;
}

// universal class for pages
.pages_bgc {
	position: relative;
	height: 100%;
	background-image: url("../img/shopping_bag_small.jpg");
	background-size: cover;
	background-position: 55%;
	background-repeat: no-repeat;
	font-weight: 400;
	color: #fff;
	background-color: #333;
	z-index: 0;
}

.bg_shadow {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: $bg-shadow;
}

// APP STYLES
.app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-image: url("../img/BackgroundLarge.jpg");
	background-size: cover;
	background-position: 5%;
	background-repeat: no-repeat;
	background-color: #333;
	z-index: 0;

	.shadow_bg {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

// Param for component InfoBlock - as a picture variant
.infoBlock_img {
	width: 100%;
	height: 100%;
	min-width: 310px;
	min-height: 250px;
}

// Styles for Logo for pages: [Contact, OrderPremium, AboutUs, Login]
.logoDetails {
	top: 30px;
	left: 0;
	height: 70px;
	margin-left: 53%;
	transform: translateX(-50%);

	.imgSize {
		margin-left: -42px;
		width: 120px;
		height: 120px;
	}

	h1 {
		font-size: 20px;
		padding-left: 10px;
		padding-right: 5px;
	}
}

//prop styles used in Homepage for ButtonLink component
.button_position {
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%);
}

// Styles for pages component InfoBlock
.infoBlock_width {
	width: 95%;
}

.large_style {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*react slick Arrows - my customization */
.slick-prev:before,
.slick-next:before {
	font-family: "FontAwesome";
	font-size: 26px;
	// line-height: 1;
	line-height: 10px;
	opacity: 1;
	color: #dbdbdb; /* color arrows */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
	content: "\f0d9";
}
.slick-next:before {
	content: "\f0da";
}

.slick-prev {
	left: -20px; /* Dostosuj położenie w zależności od potrzeb */
}

.slick-next {
	right: -25px; /* Dostosuj położenie w zależności od potrzeb */
}

.no_opacity {
	opacity: 0;
	transition: 0.3s;
}

// RWD STYLES:
@media (min-width: 412px) {
	.logoDetails {
		height: 90px;

		h1,
		a {
			padding-left: 8px;
			font-size: 23px;
		}
	}
}

// small
@media (min-width: 576px) {
	.logoDetails {
		h1,
		a {
			padding: 0px 10px 0px 12px;
		}
	}
	.infoBlock_width {
		width: 90%;
		padding: 30px;
		line-height: 1.2;
	}
}

// medium
@media (min-width: 768px) {
	.header {
		background-image: url("../img/BackgroundLarge.jpg");
	}

	.logoDetails {
		margin-left: 51%;

		h1,
		a {
			padding-left: 8px;
			padding-right: 16px;
		}
	}
}

// large
@media (min-width: 992px) {
	.pages_bgc {
		background-image: url("../img/shopping_bag_big.jpg");
	}

	.button_position {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.large_style {
		margin-top: 20px;
		margin-bottom: 80px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.margin_top_large {
		margin-top: 160px;
	}
	.infoBlock_width {
		width: 83%;
	}
}

//extra large
@media (min-width: 1200px) {
	.infoBlock_width {
		width: 78%;
		padding-top: 35px;
		padding-bottom: 35px;
		line-height: 1.3;
	}
}

//extra extra large
@media (min-width: 1400px) {
	.large_style {
		justify-content: space-around;
		justify-content: center;
	}
	.margin_top_large {
		margin-top: 180px;
	}
	.infoBlock_width {
		width: 76%;
	}
}
