.white_background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 370px;
	margin-top: 15px;
	margin-bottom: 30px;
	background-color: #ffffffd2;
	border-bottom: 7px solid orange;

	.team_img {
		width: 95%;
		height: 230px;
		background-image: url("../img/men-4451375_640.png");
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}
}

.infoBlock_width {
	width: 95%;
}

.portfolio_link {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 60px;
	height: 50px;
	text-align: center;

	.link_cursor {
		position: absolute;
		left: 28%;
		top: 10px;
		font-size: 26px;
		transform: rotate(90deg);
		color: orange;
		animation: finger_motion 3s ease-in-out infinite;
	}

	a {
		margin-left: auto;
		margin-right: auto;
		width: 80px;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		transition: 0.3s;
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
		color: orange;
	}
}

// ANIMATIONS:
@keyframes finger_motion {
	0% {
		transform: rotate(90deg) translateY(0);
	}
	50% {
		transform: rotate(90deg) translateY(5px);
	}
	100% {
		transform: rotate(90deg) translateY(0);
	}
}

// RWD:

// small breakpoint
@media (min-width: 576px) {
	.white_background {
		height: 400px;
		margin-bottom: 40px;
		border-bottom: 8px solid orange;

		.team_img {
			height: 315px;
		}
	}

	.portfolio_link {
		.link_cursor {
			left: 33%;
			font-size: 28px;
		}
		a {
			width: 80px;
			font-size: 19px;
		}
	}
}

// medium
@media (min-width: 768px) {
	.white_background {
		height: 470px;
		margin-bottom: 40px;
		border-bottom: 10px solid orange;

		.team_img {
			width: 88%;
			height: 380px;
		}
	}
}

// large
@media (min-width: 992px) {
	.white_background {
		height: 540px;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 60px;

		.team_img {
			width: 80%;
			height: 405px;
		}
	}
	.portfolio_link {
		.link_cursor {
			left: 38%;
			font-size: 28px;
		}
		a {
			width: 100px;
			font-size: 21px;
		}
	}
}

//extra large
@media (min-width: 1200px) {
	.white_background {
		height: 570px;

		.team_img {
			width: 75%;
			height: 480px;
		}
	}

	.portfolio_link {
		.link_cursor {
			left: 40%;
		}
		a {
			width: 100px;
			font-size: 22px;
		}
	}
}

//extra extra large
@media (min-width: 1400px) {
	.white_background {
		height: 600px;

		.team_img {
			width: 65%;
			max-width: 865px;
			height: 500px; 
		}
	}
	.portfolio_link {
		margin-top: 50px;

		.link_cursor {
			left: 42%;
		}
	}

}
