.aboutUS_background {
	display: flex;
	flex-direction: column;
	width: 100%;
	// height: 100%;
	height: 1500px;
	background-image: url("../img/shopping_bag_small.jpg");
	background-size: cover;
	background-position: 55%;
	background-repeat: no-repeat;
	font-family: "Comfortaa", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	z-index: 0;

	.bg_shadow {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);

		.white_background {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 370px;
			margin-bottom: 30px;
			background-color: #ffffffd2;

			.team_img {
				width: 95%;
				height: 230px;
				background-image: url("../img/men-4451375_640.png");
				background-size: cover;
				background-position: 50%;
				background-repeat: no-repeat;
			}
		}

		.infoBlock_position {
			margin-left: 50%;
			transform: translateX(-50%);
		}
	} //bg>shadow
}
