.glass {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 95%;
	margin-top: 30px;
	padding-bottom: 30px;
	padding-top: 20px;
	border-radius: 25px;
	overflow: hidden;
	border: 1.6px solid #ffffffba;
	background-color: #3333337f;

	.contact_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 10px 25px 10px;
		font-family: "Comfortaa", sans-serif;
		font-weight: 400;
		font-style: normal;
		
		h3 {
			font-size: 19px;
			padding-bottom: 15px;
		}
		p {
			font-size: 17px;
			text-transform: none;
			color: orange;
		}
	}

	// section checkbox_boxes
	.section_margin {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}
} 

 
// RWD STYLES:
@media(min-width: 412px){
	.glass {
		.contact_box{
			padding: 12px 10px 25px 10px;

			h3 {
				font-size: 20px;
			}
			p {
				font-size: 18px;
			}
		}
	}

}

// small breakpoint
@media (min-width: 576px) {
	.glass {
		width: 90%;
		margin-top: 35px;
		padding-bottom: 30px;
		padding-top: 20px;

		.contact_box{
			padding: 14px 10px 25px 10px;

			h3 {
				font-size: 21px;
			}
			p {
				font-size: 18px;
			}
		}
	}
}