.login_background {
	position: relative;
	height: 1500px;
	position: relative;
	background-image: url("../img/shopping_bag_small.jpg");
	background-size: cover; /* Obrazek wypełnia cały widoczny obszar */
	background-position: 55%; /* Centrowanie obrazka */
	background-repeat: no-repeat; /* Nie powtarzaj obrazka */
	color: #fff;
	background-color: #333;
	z-index: 0;

	.bg_shadow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.6);

		.form {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 95%;
			height: 500px;
			margin-top: 50px;
			// width: 350px;
			padding-top: 10px;
			border-radius: 25px;
			overflow: hidden;
			border: 1.6px solid #ffffffba;
			background-color: #3333337f;

			h2,
			p {
				font-family: "Comfortaa", sans-serif;
				font-weight: 400;
				font-style: normal;
				text-align: center;
				text-transform: uppercase;
				font-size: 20px;
				line-height: 35px;
				margin: 15px;
				color: orange;
			}

			p {
				margin-top: -12px;
			}

			input[type="text"],
			input[type="email"],
			input[type="password"] {
				width: 85%;
				margin: 10px auto 10px auto;
				padding: 10px;
				font-size: 20px;
				border-radius: 5px;
				border: none;
				background-color: #ffffffc5;
			}
			// section checkbox_boxes margin-top
			.section_margin {
				margin-top: 10px;
				display: flex;
				flex-direction: column;
			}

			.forgot_password {
				margin-top: 10px;
				font-family: "Comfortaa", sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 18px;
				cursor: pointer;
			}
			.forgot_password:hover {
				text-decoration: underline;
			}

			.checkbox_box {
				display: flex;
				flex-direction: row;
				width: 90%;
				margin: 10px auto 10px auto;
				font-family: "Comfortaa", sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 15px;

				input[type="checkbox"] {
					min-width: 20px;
					width: 20px;
					min-height: 20px;
					height: 20px;
					margin-left: 10px;
					margin-right: 15px;
					cursor: pointer;
				}

				a {
					color: #fff;
					cursor: pointer;
				}
			}

			.button_parameters {
				position: absolute;
				margin-left: 73%;
				bottom: 0px;
			}
		}
		// first 'login form' section, margin-top
		.top_margin {
			margin-top: 70px;
		}
		// section height 'registration form'
		.register_size {
			height: 750px;
		}
	}
}

.logoDetails {
	top: 30px;
	left: 0;
	height: 70px;
	margin-left: 54%;
	transform: translateX(-50%);

	.imgSize {
		margin-left: -42px;
		width: 120px;
		height: 120px;
	}

	h1 {
		font-size: 20px;
		padding-left: 10px;
		padding-right: 5px;
	}
}
