.accordion_box {
	display: flex;
	flex-direction: column;
	width: 92%;
	margin: 60px 0px 60px 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.473);

	.target {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		// background-color: rgba(50, 136, 0, .3);
	}

	.accordion {
		display: flex;
		width: 98%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		font-size: 20px;
		color: #000;
		background-color: rgba(255, 255, 255, 0.81);
		overflow: hidden;
	}

	.accordion_top {
		height: 80px;
		border-bottom: 1px solid rgb(0, 0, 0, 0.3);
		z-index: 100;

		.title {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			align-self: center;
			flex-grow: 1;
			font-family: "Comfortaa", sans-serif;
			font-weight: 400;
			padding: 10px;
			font-style: normal;
		}
		.icon {
			display: flex;
			align-self: center;
			padding-right: 10px;
			font-size: 30px;
			font-weight: bold;
		}
	}
	.accordion_height0 {
		min-height: 0px;
		height: 0px;
		opacity: 0;
		transform: translateY(-150%);
		overflow: hidden;
		transition: 0.3s;

		.text {
			opacity: 0;
		}
	}

	.accordion_bottom {
		min-height: 160px;
		overflow-y: scroll;
		transform: translateY(0);
		opacity: 1;
		transition: 0.3s;
		z-index: 11;

		.text {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			align-self: center;
			flex-grow: 1;
			opacity: 1;
			font-family: "Comfortaa", sans-serif;
			font-weight: 400;
			padding: 20px 10px 20px 10px;
			font-style: normal;
			font-size: 18px;
		}
	}
	.accordion_height_L {
		min-height: 190px;
	}
	.accordion_height_XL {
		min-height: 250px;
	}
}



// RWD

// small breakpoint
@media (min-width: 576px) {
	.accordion_box {
		width: 90%;
		margin-bottom: 140px;

		.accordion {
			overflow: hidden;
			padding: 12px;
			font-size: 22px;
			line-height: 1.2;
		} 
		.accordion_bottom {
			.text {
				min-height: 170px;
				font-size: 21px;
				letter-spacing: .2px;
			}
		}
		.accordion_height_L {
			min-height: 200px;
		}
		.accordion_height_XL {
			min-height: 240px;
		}
	}
}

// medium
@media (min-width: 768px) {
	.accordion_box {
		width: 85%;
		margin-top: 80px;
		margin-bottom: 150px;
	}
}