.downArrow {
	position: absolute;
	bottom: 25px;
	left: 50%;                  //sprawdz bez
	transform: translateX(-50%);    //sprawdz bez
	color: #fff;
	font-size: 48px;
    padding: 20px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);

	i {
        margin: 20% 20% 0;
		margin-left: auto;
		margin-right: auto;
        animation: arrow_motion 2s ease-in-out infinite;
        transition: .3s;
	}
}


@keyframes arrow_motion {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
