.footer {
	width: 100%;
	min-height: 50vh;
	background-image: url("../img/BackgroundDownBig.jpg");
	background-size: cover; /* Obrazek wypełnia cały widoczny obszar */
	background-position: 55%; /* Centrowanie obrazka */
	background-repeat: no-repeat; /* Nie powtarzaj obrazka */
	font-family: "EB Garamond", system-ui;
	font-optical-sizing: auto;
	font-style: normal;
	overflow: hidden;
	background-color: #000; 
	color: #fff;

	h2 {
		width: 100%;
		padding: 40px;
		line-height: 1.2;
		font-size: 23px;
		letter-spacing: 1px;
		word-spacing: 3px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.bg_shadow {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 25px;
		padding-bottom: 20px;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.footer_box {
		display: flex;
		flex-direction: column;
		align-self: center;
		align-items: center;
		width: 80%;
		padding-top: 10px;
		padding-bottom: 20px;

		h3 {
			padding-top: 10px;
			padding-bottom: 20px;
			font-size: 22px;
		}
		a {
			font-family: "EB Garamond", system-ui;
			font-optical-sizing: auto;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
			color: #fff;
			font-size: 21px;
			letter-spacing: 0.8px;
			padding-bottom: 12px;
		}
	}

	h2,
	h3 {
		font-family: "Comfortaa", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		color: orange;
	}

	.footer_bottom {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);

		.overline {
			width: 95%;
			height: 1px;
			margin-left: auto;
			margin-right: auto;
			background-color: rgba(255, 255, 255, 0.5);
		}

		p {
			margin-left: auto;
			margin-right: auto;
			padding: 15px;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.8px;
		}
	}
}
