.headline {
	margin-bottom: 40px;
	padding: 10px;
	background: rgb(133, 85, 0);
	background: linear-gradient(
		327deg,
		rgba(133, 85, 0, 1) 0%,
		rgba(255, 165, 0, 1) 30%,
		rgba(255, 172, 0, 1) 67%,
		rgba(177, 122, 0, 1) 100%
	);
	// box shadow:
	-webkit-box-shadow: 1px 1px 133px 26px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 1px 133px 26px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 133px 26px rgba(0, 0, 0, 1);

	h2 {
		margin-left: auto;
		margin-right: auto;
		font-family: "EB Garamond", system-ui;
		font-optical-sizing: auto;
		font-style: normal;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 24px;
		letter-spacing: 0.5px;
		word-spacing: 2px;
	}
}
