// Empty space under the last Order Card:
.hollow {
    width: 100%;
    height: 50px;
}


// medium
@media (min-width: 768px) {
    .hollow {
        height: 60px;
    }
}

// large
@media (min-width: 992px) {
    .hollow {
        height: 70px;
    }
}