.form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 95%;
	height: 500px;
	margin-top: 50px;
	padding-top: 10px;
	border-radius: 25px;
	overflow: hidden;
	border: 1.6px solid #ffffffba;
	background-color: #3333337f;

	h2,
	p {
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 35px;
		margin: 15px;
		color: orange;
	}

	p {
		margin-top: -12px;
	}
	.padding_bottom {
		padding-bottom: 15px;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		width: 85%;
		margin: 10px auto 10px auto;
		padding: 10px;
		font-size: 18px;
		border-radius: 5px;
		border: none;
		background-color: #ffffffc5;
		color: #555555e6;
		outline: none;
		border: 1.6px solid transparent;
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus {
		background-color: #f8ffeec5;
	}
	
	//margin-top for section checkbox_boxes 
	.section_margin {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
	}

	.forgot_password {
		margin-top: 10px;
		font-weight: 400;
		font-size: 18px;
		cursor: pointer;
	}
	.forgot_password:hover {
		text-decoration: underline;
	}

	.checkbox_box {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: 10px auto 10px auto;
		font-weight: 400;
		font-size: 15px;

		input[type="checkbox"] {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
			margin-left: 10px;
			margin-right: 15px;
			cursor: pointer;
		}

		a {
			color: #fff;
			cursor: pointer;
		}
	}
}
// first 'login form' section, margin-top
.login_margin {
	margin-top: 150px;
}
// section height 'registration form'
.register_size {
	height: 750px;
}

// RWD:

@media (min-width: 390px) {
	.form {
		width: 92%;

		h2 {
			margin-left: 40px;
			margin-right: 40px;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 82%;
			font-size: 20px;
		}
		.checkbox_box {
			width: 85%;
		}
	}
}

// small breakpoint
@media (min-width: 576px) {
	.form {
		width: 74%;
		padding-top: 14px;

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			padding-left: 14px;
			font-size: 19px;
		}
	}
	.login_margin {
		margin-top: 170px;
	}
}

// medium
@media (min-width: 768px) {
	.form {
		width: 68%;
		max-width: 530px;
		padding-top: 20px;
		transition: 0.3s;

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 70%;
		}

		//custom class for button form
		.btn_size {
			padding: 12px;
			a {
				font-size: 22px;
			}
		}
		.checkbox_box {
			width: 72%;
		}
	}
	.form:hover {
		border: 1.6px solid rgb(255, 204, 110);
	}
}

// large
@media (min-width: 992px) {
	.form {
		width: 46%;
		margin-top: 40px;
		padding-top: 25px;
	}
}

//extra extra large
@media (min-width: 1400px) {
	.form {
		max-width: 530px;
		margin-right: 35px;
		margin-left: 35px;

		h2,p {
			font-size: 20.5px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			font-size: 20px;
		}
		.checkbox_box {
			font-size: 15.5px;
		}
	}
}
