div {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 400px;
	right: 15px;
	width: 50%;
	min-width: 350px;
	height: 100px;
	background-color: orange;
	border-radius: 5px;

	-webkit-box-shadow: -1px 5px 51px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: -1px 5px 51px 4px rgba(0, 0, 0, 1);
	box-shadow: -1px 5px 51px 4px rgba(0, 0, 0, 1);

	z-index: 1;

	.img_logo {
		margin-left: -38px;
		width: 150px;
		height: 150px;
	}


	h1, a {
		font-family: "Comfortaa", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-transform: uppercase;
		font-size: 26px;
		padding-left: 5px;
		padding-right: 10px;
		color: #fff;
	}
}
