.list_box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .list_box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

 
