.section_shop_lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    border-radius: 15px;
    border: 1.6px solid #ffffff6e;

    .shop_square {
        width: 42%;
        min-width: 125px;
        height: 130px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 20px;
        padding: 20px;
        border: 5px solid #ffffff23;
        background-color: crimson;
    }
}

.shop_square_bottom {
    // display: flex;
	// flex-direction: row;
    // display: inline-block;
	// width: 100px;
	// height: 100%;
	// margin-left: 20px;
	// margin-right: 20px;
	// transform: translateX(35%);
    padding: 10px;
    background-color: red;
}