.section_shop_lists {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 10px;
	padding-left: 6.5%;
	padding-right: 6.5%;
	border-radius: 15px;
	// border: 1.6px solid #ffffff6e;
	background-color: #17171769;
	
	.empty_list_size {
		width: 100%;
		height: 170px;
		background-color: #00000071;

		p {
			color: #ffffff75;
		}
	}

	.shop_square {
		width: 42%;
		min-width: 125px;
		height: 130px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-radius: 20px;
		padding: 20px;
		border: 5px solid #ffffff23;
		background-color: crimson;
	}
}

.shop_square_bottom {
	position: relative;
	display: flex;
	justify-content: start;
	padding: 10px;
    margin: 10px;
	background-color: #34820676;
    border: 4px solid #34820676;
    border-radius: 15px;

	a {
		margin: 0;
		padding: 0;
	}

	.square_position {
        width: 80px;
		margin-left: -30px;
        margin-right: 60px;

        .square_size{
            width: 80px;
            height: 80px;
        }
	}

    p {
        font-size: 17px;
        line-height: 75px;
    }
}