.app_header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 200px;
	// background-color: rgba(182, 225, 215, 0.703);

	.green_circle {
		position: absolute;
		width: 150%;
		height: 300px;
		top: -100px;
		left: 50%;
		transform: translateX(-50%);
		background: linear-gradient(
			267deg,
			rgb(7, 77, 3) 0%,
			rgba(3, 94, 59, 1) 30%,
			rgb(10, 97, 7) 67%,
			rgba(0, 56, 6, 0.877) 100%
		);
		border-radius: 50%;
		border: 6px solid #ffffff23;
		z-index: 1;
	}

	.user_square {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		width: 200px;
		font-size: 15px;
		height: 50px;
		top: 110px;
		z-index: 2;

		i {
			margin-right: 10px;
			font-size: 32px;
			padding: 5px;
			border: 1px solid #ffffff6a;
		}
	}
}

// RWD:

// iPhone 14/15
@media (min-width: 390px) {
	.app_header {
		.green_circle {
			height: 310px;
		}

		.logo {
			top: 55px;
			transform: translate(-25%, -50%);
			right: 0px;
			min-width: 245px;
			height: 60px;

			h1 {
				font-size: 17px;
			}
		}
		.imgSize {
			width: 105px;
			height: 105px;
		}
	}
}

// Google Pixel 6
@media (min-width: 412px) {
	.app_header {
		.logo {
			transform: translate(-30%, -50%);
		}
		.user_square {
			width: 210px;

			p {
				margin-left: 5px;
				font-size: 16.5px;
			}
		}
	}
}

// small
@media (min-width: 576px) {
	.app_header {
		.logo {
			transform: translate(-42%, -50%);
			min-width: 290px;
			height: 65px;
		}
		.imgSize {
			width: 115px;
			height: 115px;
		}
	}
}

// medium
@media (min-width: 768px) {
	.app_header {
		.green_circle {
			height: 320px;
		}

		.logo {
			top: 60px;
			transform: translate(-50%, -50%);
		}
		.imgSize {
			margin-left: -40px;
			width: 120px;
			height: 120px;
		}
		.user_square {
			top: 130px;
			width: 210px;

			i {
				font-size: 36px;
			}

			p {
				margin-left: 5px;
				font-size: 16.5px;
			}
		}
	}
}

// large
@media (min-width: 992px) {
	.app_header {
		.green_circle {
			width: 130%;
		}
		.logo {
			transform: translate(-75%, -50%);
			max-width: 370px;

			h1 {
				font-size: 18px;
			}
		}
		.imgSize {
			margin-left: -85px;
		}
	}
}

// xl
@media (min-width: 1200px) {
	.app_header {
		.green_circle {
			width: 120%;
			height: 325px;
		}
		.logo {
			transform: translate(-102%, -50%);
			max-width: 370px;

			h1 {
				font-size: 19px;
			}
		}
		.imgSize {
			margin-left: -85px;
		}
		.user_square {
			top: 135px;
		}
	}
}

// xxl
@media (min-width: 1400px) {
	.app_header {
		.green_circle {
			height: 335px;
		}
		.logo {
			transform: translate(-129%, -50%);
			height: 70px;

			h1 {
				font-size: 20px;
			}
		}
		.imgSize {
			margin-left: -85px;
			width: 125px;
			height: 125px;
		}
		.user_square {
			top: 145px;
			
			p {
				margin-left: 7px;
				font-size: 17.5px;
			}
		}
	}
}
