.products_card {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 10px;
	width: 90%;
	padding: 10px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	background-color: #d1d1d1e4;
	border: 2px solid #ffffff23;   //lub test2
	border: 1px solid #ffffff23;   //test1

	.card_title_box {
		padding-top: 10px;
		padding-bottom: 15px;

		span {
			position: absolute;
			left: 10%;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			text-align: center;
			font-size: 28px;
			line-height: 50px;
			background-color: #ffffff9b;
		}
		h3 {
			padding: 10px;
			margin-bottom: 10px;
			font-size: 22px;
            line-height: 20px;
		}
	}
}


// RWD

// Google Pixel 6
@media (min-width: 412px) {
	.products_card {
		margin: 14px;
		
		.card_title_box {
			span {
				width: 55px;
				height: 55px;
				line-height: 55px;
				font-size: 30px;
			}
		}
	}
}