.section_create_new_list {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 320px;
	margin-top: 25px;
	margin-bottom: 20px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;

	.title_box {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 7px;
		padding: 5px;
		border-radius: 15px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border: 3px solid #333;
		color: #fff;
		background-color: rgb(9, 105, 6);

		span {
			margin-bottom: 5px;
			font-size: 22px;
		}
	}

	h2 {
		padding: 5px;
		font-size: 16px;
		padding-right: 10px;
		color: #fff;
	}

	.slider {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		padding-bottom: 15px;
	}
}


// RWD 

// iPhone 14/15
@media (min-width: 390px) {
	.section_create_new_list {
		margin-top: 60px;
		width: 340px;
		height: 135px;
	}
}

// Google Pixel 6
@media (min-width: 412px) {
	.section_create_new_list {
		margin-top: 80px;
		width: 360px;
		height: 135px;
	}
}

// medium
@media (min-width: 768px) {
	.section_create_new_list {
		justify-content: start;
		width: 400px;
		height: 180px;

		.title_box {
			justify-content: start;
			padding-left: 4%;
			gap: 12%;
			margin-bottom: 15px;
		}
		h2 {
			font-size: 17px;
		}
	}
}
// large
@media (min-width: 992px) {
	.section_create_new_list {
		width: 500px;
		height: 190px;

		.slider {
			width: 85%;
		}

		.title_box {
			height: 55px;
			padding-left: 4%;
			gap: 16%;
		}
	}
}
// xl
@media (min-width: 1200px) {
	.section_create_new_list {
		width: 550px;
		height: 200px;

		.slider {
			width: 85%;
		}

		.title_box {
			height: 60px;
			gap: 20%;
		}
	}
} 
// xxl
@media (min-width: 1400px) {
	.section_create_new_list {
		margin-top: 90px;
		width: 550px;
		height: 200px;

		.slider {
			width: 85%;
		}

		.title_box {
			height: 60px;
			gap: 20%;
		}
	}
} 