.logout_box {
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 20px;

	.logout_btn {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		width: 65%;
		height: 45px;
		font-size: 15px;
		letter-spacing: 1.2px;
		color: #fff;
		background: linear-gradient(
			327deg,
			rgba(168, 7, 39, 0.908) 0%,
			rgba(220, 20, 60, 0.879) 30%,
			crimson 67%,
			rgba(168, 7, 39, 0.942) 100%
		);
		border-radius: 15px;
		border: none;
		border: 1px solid #ffffff23; //fajny borderek ghost

		-webkit-box-shadow: -1px 2px 61px 2px rgba(0, 0, 0, 1);
		-moz-box-shadow: -1px 12px 61px 2px rgba(0, 0, 0, 1);
		box-shadow: -1px 2px 61px 2px rgba(0, 0, 0, 1);
		cursor: pointer;
		transition: .3s;
	}
}

// RWD

// Google Pixel 6
@media (min-width: 412px) {
	.logout_box {
		height: 60px;
		
		.logout_btn {
			width: 67%;
			max-width: 400px;
			height: 50px;
			font-size: 16px;	
		}
	}
}

// small
@media (min-width: 576px) {
	.logout_box {
		.logout_btn {
			max-width: 400px;	
		}
	}
}
// xxl
@media (min-width: 1400px) {
	.logout_box {
		margin-top: 55px;

		.logout_btn {
			max-width: 420px;	
		}
	}
}