.button_box {
	display: flex;
	align-items: center;
	width: 330px;
	height: 130px;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid #ffffff23;
	background-color: rgba(0, 0, 0, 0.6);

	p {
		margin-left: 10px;
		font-size: 16px;
		color: #fff;
	}

	.addList_btn {
		height: 105px;
		min-width: 100px;
		margin-left: 15px;
		padding: 10px;
		font-family: "Comfortaa", sans-serif;
		font-style: normal;
		font-size: 15px;
		border-radius: 15px;
		border: none;
		border: 3px solid #ffffff23;
		background-color: rgb(9, 105, 6);
		color: #fff;
		-webkit-box-shadow: inset 0px -15px 69px -37px rgba(66, 68, 90, 1);
		-moz-box-shadow: inset 0px -15px 69px -37px rgba(66, 68, 90, 1);
		box-shadow: inset 0px -15px 69px -37px rgba(66, 68, 90, 1);
		cursor: pointer;
	}
}

// RWD

// iPhone 14/15
@media (min-width: 390px) {
	.button_box {
		margin-top: 15px;
		width: 340px;
		height: 135px;

		p {
			margin-left: 10px;
			font-size: 17px;
		}
		.addList_btn {
			height: 110px;
			min-width: 110px;
			font-size: 16px;
		}
	}
}

// Google Pixel 6
@media (min-width: 412px) {
	.button_box {
		margin-top: 30px;
		width: 360px;
		height: 145px;

		p {
			font-size: 17.5px;
		}
		.addList_btn {
			height: 125px;
			min-width: 120px;
			font-size: 16.5px;
			line-height: 1.2;
			transition: 0.3s;
		}
	}
}

// small
@media (min-width: 576px) {
	.button_box {
		margin-top: 45px;

		.addList_btn:hover {
			border: 3px solid #5cb80cd0;
		}
	}
}

// medium
@media (min-width: 768px) {
	.button_box {
		width: 380px;
		height: 155px;

		.addList_btn {
			height: 130px;
			min-width: 125px;
			font-size: 17px;
			border: 4px solid #ffffff23;
			line-height: 1.3;
		}
		.addList_btn:hover {
			border: 4px solid #5cb80cd0;
		}
	}
}

// large
@media (min-width: 992px) {
	.button_box {
		width: 420px;
		height: 170px;
		padding-left: 15px;

		.addList_btn {
			height: 140px;
			min-width: 145px;
		}
	}
}
// xl
@media (min-width: 1200px) {
	.button_box {
		width: 450px;
		height: 180px;

		p {
			font-size: 18px;
			margin-right: 10px;
			width: 240px;
		}

		.addList_btn {
			height: 145px;
			min-width: 145px;
			width: 145px;
			margin-left: 0;
		}
		
	}
}
// xxl
@media (min-width: 1400px) {
	.button_box {
		margin-top: 65px;
		width: 500px;
		height: 200px;

		p {
			font-size: 19px;
			margin-right: 10px;
			width: 270px;
		}

		.addList_btn {
			height: 165px;
			min-width: 165px;
			width: 165px;
			font-size: 18px;
		}
		
	}
}
