.app_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45px;
    height: 40px;
    margin-top: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    background: linear-gradient(
        327deg,
        rgba(255, 122, 0, 1) 0%,
        rgba(255, 165, 0, 1) 30%,
        rgba(255, 172, 0, 1) 67%,
        rgba(255, 122, 0, 1) 100%
    );

    h2 {
        text-align: center;
        font-size: 11.5px;
        color: #fff;
    }
}