.app_title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 60px;
	margin: 30px auto 15px auto;
	border-radius: 15px;
	background: linear-gradient(
		327deg,
		rgba(255, 122, 0, 1) 0%,
		rgba(255, 165, 0, 1) 30%,
		rgba(255, 172, 0, 1) 67%,
		rgba(255, 122, 0, 1) 100%
	);

	h2 {
		text-align: center;
		font-size: 12px;
		color: #fff;
	}
}

// RWD

// iPhone 14/15
@media (min-width: 390px) {
	.app_title {
		margin-top: 40px;
		height: 65px;
		
		h2 {
			font-size: 13px;
		}
	}
}

// Google Pixel 6
@media (min-width: 412px) {
	.app_title {
		margin-top: 45px;
		height: 70px;
		
		h2 {
			font-size: 13.5px;
		}
	}
}

// small
@media (min-width: 576px) {
	.app_title {
		margin-top: 50px;
		
		h2 {
			font-size: 14.5px;
		}
	}
}  

// medium
@media (min-width: 768px) {
	.app_title {
		width: 90%;

		h2 {
			font-size: 16px;
			word-spacing: 1px;
		}
	}
} 
// large
@media (min-width: 992px) {
	.app_title {
		width: 85%;

		h2 {
			font-size: 16px;
			letter-spacing: .5px;
			word-spacing: 1.5px;
		}
	}
} 
// xl
@media (min-width: 1200px) {
	.app_title {
		margin-top: 65px;
		width: 80%;

		h2 {
			font-size: 16.5px;
		}
	}
} 