.product_box{
    display: flex;
    justify-content: start;
    padding: 10px;
    background-color: #ffffffed;
    color: #000;

    p {
        padding: 5px;
    }
}
.emptyCheckbox {
    font-size: 22px;
	filter: brightness(150%);
}